<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="application-name" content="TurbineJob">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="msapplication-starturl" content="/">
    <meta name="theme-color" content="#">
    <meta name="msapplication-TileColor" content="#">
    <title>@ViewData["Title"] - خدمات مکانیزه</title>
    <link href="~/css/site.min.css" rel="stylesheet" />
    <link rel="manifest" href="~/manifest.json" />
</head>
<body class="rtl">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <a class="navbar-brand menu text-wrap" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/Image/Naft-Transparent-02.png" height="40" width="50" />سامانه <mark>ثبت درخواست رایانه ای</mark> مدیریت تعمیرات تجهیزات صنعتی و ماشین آلات فرآیندی</a>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            <div class="row mb-2">
                <div class="col-sm-9 mx-auto">
                    <form asp-controller="Home" asp-action="Search" method="get">
                        <div class="input-group">
                            <input type="text" class="form-control textInputColor" id="txtSearch" name="id" placeholder="جهت جستجو اموال در اختیار، شماره پرسنلی خود را اینجا وارد و سپس بر روی دکمه جستجو کلیک نمایید">
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-primary">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <section>
                @RenderBody()
            </section>
        </main>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/fontawesome.min.js" async></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
