@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}
<div class="developer-info">
    <h1 class="text-danger">خطا.</h1>
    <h2 class="text-danger">هنگام بررسی درخواست شما یک خطا رخ داده است.</h2>

    @if (Model.ShowRequestId)
    {
        <p>
            <strong>شناسه درخواست:</strong> <code>@Model.RequestId</code>
        </p>
    }

    <h3>خطا در پردازش اطلاعات</h3>
    <h4>لطفا از صحت اطلاعات خود جهت ثبت درخواست کار جدید و یا جستجو اطمینان حاصل نمایید</h4>
</div>
