@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}
<div class="developer-info">
    <h1 class="text-danger">خطا.</h1>
    <h2 class="text-danger">هنگام بررسی درخواست شما یک خطا رخ داده است.</h2>

    @if (Model.ShowRequestId)
    {
        <p>
            <strong>شناسه درخواست:</strong> <code>@Model.RequestId</code>
        </p>
    }

    <h3>حالت توسعه</h3>
    <p>
        انتقال <strong> به حالت توسعه </strong> اطلاعات دقیق تری در مورد خطایی که رخ داده است نمایش می دهد
    </p>
    <p>
        <strong>
            محیط توسعه برای برنامه های مستقر نباید فعال شود.
        </strong>
        انتشار خطا می تواند منجر به نمایش اطلاعات حساس از موارد استثناء برای کاربران نهایی شود.
    </p>
</div>
