@inject IService _service;
<div id="sitefooter" class="d-none d-lg-block rtl">
    <div class="row">
        <footer class="text-center  mx-auto">
            <b>مدیریت تعمیرات تجهیزات صنعتی و ماشین آلات فرآیندی - سال @(_service.DateTimeService.ConvertToPersianDateTime(DateTime.Now).Year) </b> <br /> <span>پشتیبانی فنی:<br /><br /> </span><span> <mark><b>محمد مهرنیا، ناهید منجزی</b></mark></span><a asp-area="" asp-controller="Home" asp-action="Privacy"></a>
        </footer>
    </div>
</div>
