<div class="row d-none d-lg-block mx-auto">
    <footer class="text-center text-white">
        <b>مدیریت تعمیرات تجهیزات صنعتی و ماشین آلات فرآیندی - سال 1398 </b> <br /> <span>طراحی و توسعه توسط : <br /> </span><span> <mark><b>ناهید منجزی، مهدی سلیمانیان، محمد مهرنیا</b></mark></span><a asp-area="" asp-controller="Home" asp-action="Privacy"></a>
    </footer>
</div>