<div id="sitefooter" class="d-none d-lg-block">
    <div class="row">
        <footer class="text-center  mx-auto">
            <b>مدیریت تعمیرات تجهیزات صنعتی و ماشین آلات فرآیندی - سال 1398 </b> <br /> <span>پشتیبان : <br /> </span><span> <mark><b>ناهید منجزی، محمد مهرنیا</b></mark></span><a asp-area="" asp-controller="Home" asp-action="Privacy"></a>
        </footer>
    </div>
</div>
