<div class="row">
    <div class="alert alert-success mx-auto">
        <b>از ارسال تاییدیه کار توسط شما سپاسگذاریم. تایید انجام کار توسط شما باعث ایجاد انگیزه و افزایش کارایی همکاران خدمات مکانیزه در راستای پاسخگویی به شما همکار عزیز می باشد</b>
    </div>
</div>