@inject IService  _service
@model JobViewModel

@{
    ViewData["Title"] = "فرم درخواست خدمات رایانه ای";
}
<div class="mt-2">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12 mt-2">
                <div class="card shadow p-1 mb-5 rounded helpinfo cardop">
                    <div class="card-body  ">
                        <form asp-controller="Home" asp-action="index" asp-antiforgery="true" method="post" id="frmAddWorkOrder" name="frmAddWorkOrder">
                            <div class="form-group ">
                                <div class="input-group mb-3  ">
                                    <div class="input-group-prepend ">
                                        <label class="input-group-text" id="basic-addon1"><i class="fas fa-lg fa-desktop"></i></label>
                                    </div>
                                    @if (Model != null && Model.defaultAR)
                                    {
                                        <input type="text" class="form-control ltr textInputColor" asp-for="AR" id="AR" placeholder="شماره اموال را وارد کنید مثال: 2142020025" aria-label="amval" aria-describedby="basic-addon1" readonly="readonly">
                                    }
                                    else
                                    {
                                        <input type="text" class="form-control ltr textInputColor" asp-for="AR" id="AR" placeholder="شماره اموال را وارد کنید مثال: 2142020025" aria-label="amval" aria-describedby="basic-addon1">
                                    }
                                    <span class="invalid-feedback text-left d-block text-danger font-weight-bolder developer-info rounded" asp-validation-for="AR"></span>
                                </div>
                            </div>
                            <div class="form-group ">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" id="basic-addon1"><i class="fas fa-lg fa-th-list"></i></label>
                                    </div>
                                    @if (Model != null && Model.defaultDes)
                                    {
                                        <textarea type="text" id="1AR" class="form-control textInputColor " asp-for="Description" placeholder="شرح درخواست را وارد کنید" aria-label="Description" aria-describedby="basic-addon1" rows="8" readonly="readonly"></textarea>
                                    }
                                    else
                                    {

                                        <textarea type="text" id="1AR" class="form-control textInputColor " asp-for="Description" placeholder="شرح درخواست را وارد کنید" aria-label="Description" aria-describedby="basic-addon1" rows="8"></textarea>
                                    }

                                    <span class="invalid-feedback text-left d-block text-danger font-weight-bolder developer-info rounded" asp-validation-for="Description"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" id="basic-addon1"><i class="fas fa-lg fa-phone-alt"></i></label>
                                    </div>
                                    <input type="text" class="form-control ltr textInputColor" asp-for="PhoneNumber" placeholder="تلفن تماس را وارد کنید" aria-label="PhoneNumber" aria-describedby="basic-addon1">
                                    <span class="invalid-feedback text-left d-block text-danger font-weight-bolder developer-info rounded" asp-validation-for="PhoneNumber"></span>
                                </div>
                            </div>
                            <div class="form-group text-center">
                                <dnt-captcha asp-captcha-generator-max="999"
                                             asp-captcha-generator-min="100"
                                             asp-captcha-generator-language="Persian"
                                             asp-captcha-generator-display-mode="ShowDigits"
                                             asp-use-relative-urls="true"
                                             asp-placeholder="کد امنیتی را وارد نمایید"
                                             asp-validation-error-message="کد امنیتی را به صورت عددی وارد نمایید"
                                             asp-font-name="Shabnam FD"
                                             asp-font-size="25"
                                             asp-fore-color="#2e5cd0"
                                             asp-back-color="#e9ecef"
                                             asp-text-box-class="text-box form-control textInputColor"
                                             asp-text-box-template="<div class='input-group '><span class='input-group-prepend '><span class='input-group-text '><i class='fas fa-lock fa-lg'></i></span></span>{0}</div>"
                                             asp-validation-message-class="text-danger font-weight-bolder developer-info rounded"
                                             asp-refresh-button-class="btn-sm refreshcaptcha"
                                             asp-use-noise="false" />
                            </div>
                            <button type="submit" class="btn btnStyle btn-lg btn-block mt-3"><i class='fas fa-paper-plane fa-lg'></i>&ensp; ارسال درخواست</button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-sm-12 d-none d-sm-block mt-2">
                <div class="card shadow p-1 mb-5 rounded helpinfo helpop">
                    <div class="card-body">
                        <div class="row">
                            <ol class="font-weight-bold alert alert-info" itemscope>
                                <li class="mx-auto"><h6 class="alert alert-warning"><i class="fas fa-pen-nib"></i> این سـامــانه جهت ثبت درخـــواستهـــای نرم افزاری، سخت افزاری و لوازم مصرفی طراحی شده است جهت ثبت درخواست به نکات ذیل توجه فرمایید:</h6></li>
                                <li>شماره امــوال می بایــست بـــــصورت صحیح وارد شود، مثال : 2142020025.</li>
                                <li>شرح نیاز می بایست بصورت مختصر و مفید درج گردد.</li>
                                <li>تلفن تماس می بایست مربوط به کاربر درخواست کننده باشد.</li>
                                <li>پس از ثبت درخواست کد پیگیری را نزد خود نگهدارید.</li>
                                <li>جهت ثبت درخواست لوازم مصرفی از اموال تحت اختیار استفــاده نمائید.</li>
                                <li>لطفا به هنگام ارسال رایانه خود جهت تعمیر، نرم افزارهای مورد نیاز خود را از طریق سامانه ارسال درخواست خدمات رایانه ای اعلام بفرمایید</li>
                                <li>برای لوازم مصرفی لازم است درخواست کار مجزا ثبت شده و از ثبت درخواست نیاز به لوازم مصرفی به همراه ایرادات رایانه ای خودداری نمایید </li>
                            </ol>
                        </div>
                        <div class="row d-none d-md-block">
                            <div class="text-center special-footer font-weight-bold text-black developer-info">
                                <p class="mb-1">
                                    <span> مدیریت تعمیرات تجهیزات صنعتی و ماشین آلات فرایندی - سال @(_service.DateTimeService.ConvertToPersianDateTime(DateTime.Now).Year) </span><br /><span>پشتیبانی فنی:</span><br /><br /><span> <mark><b>محمد مهرنیا، ناهید منجزی</b></mark></span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script src="~/js/validatorFunctions.min.js" async></script>
}
