@model JobViewModel
@{
    ViewData["Title"] = "فرم ارسال درخواست خدمات رایانه ای";
}
<div class="mt-2">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12 mt-2">
                <div class="card shadow p-1 mb-5 rounded helpinfo cardop">
                    <div class="card-body  " >
                        <form asp-controller="Home" asp-action="index" asp-antiforgery="true" method="post">
                            <div class="form-group ">
                                <div class="input-group mb-3  ">
                                    <div class="input-group-prepend ">
                                        <label class="input-group-text" id="basic-addon1"><i class="fas fa-lg fa-desktop"></i></label>
                                    </div>
                                    <input type="text" class="form-control ltr textInputColor" asp-for="AR" placeholder="شماره اموال را وارد کنید مثال: 2142020025" aria-label="amval" aria-describedby="basic-addon1">
                                    <span class="invalid-feedback text-left d-block" asp-validation-for="AR"></span>
                                </div>
                            </div>
                            <div class="form-group ">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" id="basic-addon1"><i class="fas fa-lg fa-th-list"></i></label>
                                    </div>
                                    <textarea type="text" class="form-control textInputColor" asp-for="Description" style="resize:none" placeholder="شرح درخواست را وارد کنید" aria-label="Description" aria-describedby="basic-addon1" rows="8"></textarea>
                                    <span class="invalid-feedback text-left d-block" asp-validation-for="Description"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" id="basic-addon1"><i class="fas fa-lg fa-phone-alt"></i></label>
                                    </div>
                                    <input type="text" class="form-control ltr textInputColor" asp-for="PhoneNumber" placeholder="تلفن تماس را وارد کنید" aria-label="PhoneNumber" aria-describedby="basic-addon1">
                                    <span class="invalid-feedback text-left d-block" asp-validation-for="PhoneNumber"></span>
                                </div>
                            </div>
                            <div class="form-group text-center">
                                <dnt-captcha asp-captcha-generator-max="999"
                                             asp-captcha-generator-min="100"
                                             asp-captcha-generator-language="Persian"
                                             asp-captcha-generator-display-mode="ShowDigits"
                                             asp-use-relative-urls="true"
                                             asp-placeholder="کد امنیتی را وارد نمایید"
                                             asp-validation-error-message="کد امنیتی را به صورت عددی وارد نمایید"
                                             asp-font-name="Shabnam"
                                             asp-font-size="25"
                                             asp-fore-color="#2e5cd0"
                                             asp-back-color="#e9ecef"
                                             asp-text-box-class="text-box form-control textInputColor"
                                             asp-text-box-template="<div class='input-group '><span class='input-group-prepend '><span class='input-group-text '><i class='fas fa-lock fa-lg'></i></span></span>{0}</div>"
                                             asp-validation-message-class="text-danger" asp-refresh-button-class="btn-sm refreshcaptcha" />
                            </div>
                            <button type="submit" class="btn btnStyle btn-lg btn-block mt-3"><i class='fas fa-paper-plane fa-lg'></i>&ensp; ارسال درخواست</button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-sm-12 d-none d-sm-block mt-2">
                <div class="card shadow p-1 mb-5 rounded helpinfo helpop">
                    <div class="card-header text-center align-middle">
                        <h4>راهنما</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <ol class="font-weight-bold">
                                <li ><h5> <i class="fas fa-pen-nib"></i> این سـامــانه جهت ثبت درخـــواستهـــای نرم افزاری، سخت افزاری و لوازم مصرفی طراحی شده است</h5></li>
                                <li><b>شماره امــوال می بایــست بـــــصورت صحیح وارد شود، مثال : 2142020025.</b></li>
                                <li>شرح نیاز می بایست بصورت مختصر و مفید درج گردد.</li>
                                <li>تلفن تماس می بایست مربوط به کاربر درخواست کننده باشد.</li>
                                <li>پس از ثبت درخواست کد پیگیری را نزد خود نگهدارید.</li>
                                <li class="card-text">جهت ثبت درخواست لوازم مصرفی از اموال تحت اختیار استفــاده نمائید.   مثال : جهت دریافت کارتریج از اموال چاپگر و جهت دریافت ماوس از اموال رایانه استفاده نمائید.</li>
                            </ol>
                        </div>
                        <div class="row d-none d-md-block">
                            <div class="text-center special-footer font-weight-bold">
                                <span> مدیریت تعمیرات تجهیزات صنعتی و ماشین آلات فرایندی - سال 1398 </span><br /><span>طراحی و توسعه توسط :</span><br /><span> <mark><b>ناهید منجزی، مهدی سلیمانیان، محمد مهرنیا</b></mark></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}