@model IList<TahvilFormsViewModel>

@{
    ViewData["Title"] = "اقلام تحویلی...";
}

   
    <table class="table border  helpop mt-5  text-center">
        <thead class="thead-dark ">
            <tr>
                <th class="border border-white text-center " scope="col">*</th>
                <th class="border border-white text-center" scope="col">نوع</th>
                <th class="border border-white text-center" scope="col">شماره اموال</th>
                <th class="border border-white text-center" scope="col">تاریخ تحویل</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var form in Model)
            {
                <tr class="border border-white">

                    <td><i class="@form.Icon"></i></td>
                    <td>@form.PartName</td>
                    <td>@form.AmvalNo</td>
                    <td>@form.DateTahvil</td>

                </tr>
            }



        </tbody>
    </table>




