* {
    font-family: Shabnam !important;
}
html,body{
    margin:0;
    padding:0;
}

/*@media only screen and (orientation:landscape) {
    #turn {
        display: block;
    }

    #container {
        display: none;
    }
}

@media only screen and (orientation:portrait) {
    #turn {
        display: none;
    }

    #container {
        display: block;
    }
}*/
.helpinfo {
    /*opacity:0.85;*/
    color: #850b0b !important;
    height:100% !important;
}

::-webkit-input-placeholder {
    color: #c7c5c5 !important;
    direction: rtl !important;
    text-overflow: ellipsis;
}

:-moz-placeholder { /* Firefox 18- */
    color: #c7c5c5 !important;
    direction: rtl !important;
    text-align: right;
    text-overflow: ellipsis;
}

::-moz-placeholder { /* Firefox 19+ */
    color: #c7c5c5 !important;
    direction: rtl !important;
    text-align: right;
    text-overflow: ellipsis;
}

:-ms-input-placeholder {
    color: #c7c5c5 !important;
    direction: rtl !important;
    text-overflow: ellipsis;
}
.menu {
    color: #0026ff !important;
}
body {
   background:fixed center no-repeat;
   background-size:cover;
   background-image:url('../Image/BG_Transparent_Blur.png');
}

.ltr{
    direction:ltr !important;
}
footer {
    width: 100% !important;
    opacity: 0.9;
    border-radius: 5px;
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: transparent;
}

.refreshcaptcha::before {
    content: "\21bb";
    font-size: 30px !important;
    font-family: Lucida Sans Unicode;
    color: red;
    
}

.refreshcaptcha:hover{
    text-decoration:none !important;
}

.trackCSS{
    opacity:0.7;
    color:#6f0e0e;
}

.btnStyle {
    background-color: #3d65cb !important;
    color: white !important;
}

mark {
    background-color: #fadb7f !important;
    border-radius: 5px;
}

ol li:first-of-type {
    list-style: none !important;
    margin-right: -1em;
    /*some other header styles*/
}

ol li {
    list-style:outside;
    line-height:30px;
}