* {
    font-family: Shabnam !important;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    background: fixed center no-repeat;
    background-size:cover;
    background-image: url('../Image/BG-Web.jpg');
    background-size: 100% 100%;
}

.helpinfo {
    color: #850b0b !important;
    height:100% !important;
}
.textInputColor {
    color:black !important;
}

::-webkit-input-placeholder {
    color: #c7c5c5 !important;
    direction: rtl !important;
}

:-moz-placeholder { /* Firefox 18- */
    color: #c7c5c5 !important;
    direction: rtl !important;
    text-align: right;
}

::-moz-placeholder { /* Firefox 19+ */
    color: #c7c5c5 !important;
    direction: rtl !important;
    text-align: right;
}

:-ms-input-placeholder {
    color: #c7c5c5 !important;
    direction: rtl !important;
}
.menu {
    color: #0026ff !important;
}

.ltr{
    direction:ltr !important;
}
.special-footer {
    width: 100% !important;
    opacity: 0.9;
    border-radius: 5px;
    position: absolute;
    right: 0;
    bottom:4px;
}

.refreshcaptcha::before {
    content: "\21bb";
    font-size: 30px !important;
    font-family: Lucida Sans Unicode;
    color: red;
    
}

.refreshcaptcha:hover{
    text-decoration:none !important;
}

.trackCSS{
    opacity:0.9;
    color:#6f0e0e;
}

.btnStyle {
    background-color: #3d65cb !important;
    color: white !important;
}

mark {
    background-color: #fadb7f !important;
    border-radius: 5px;
}

ol li:first-of-type {
    list-style: none !important;
    margin-right: -1em;
    /*some other header styles*/
}

ol li {
    list-style:outside;
    line-height:30px;
}
.cardop {
    background-color: rgba(255,255,255,0.9) !important;
}
.helpop {
    background-color: rgba(248, 248, 248, 0.9) !important;
}



